
  {{{body}}}
    <div class="container-time">
        <h2 class="heading">Time Slots</h2>
        <h3 class="heading-days">Monday-Friday</h3>
        <p>8am - 12pm (Morning Session)</p>
        <p>12pm - 3pm (Afternoon Session)</p>
        <p>12pm - 6pm (Evening Session)</p>

        <h3 class="heading-days">Saturday and Sunday</h3>
        <p>9am - 1pm (Morning Session)</p>
        <p>1pm - 4pm (Afternoon Session)</p>

        <hr>

        <h4>Questions? Contact Us!</h4>
        <h4 class="heading-phone">Call Us: (123) 45-45-456</h4>
    </div>

    <div class="container-form">
        <form action="#">
            <h2 class="heading heading-yellow">Reserve Your Field</h2>

            <div class="form-field">
                <p>Team Name</p>
                <input type="text" placeholder="Name">
            </div>
            <div class="form-field">
                <p>Date Selected</p>
                <input type="date">
            </div>
            <div class="form-field">
                <p>Time Slot</p>
                <select name="select" id="#">
                    <option value="1">Morning</option>
                    <option value="2">Afternoon</option>
                    <option value="3">Evening</option>
                </select>
            </div>
            <div class="form-field">
                <p>Session Duration</p>
                <input type="time">
            </div>
            <div class="form-field">
                <p>Session Type</p>
                <select name="select" id="#">
                    <option value="1">Practice</option>
                    <option value="2">Game</option>
                    <option value="3">Exhibition Match</option>
                    <option value="4">Scrimmage</option>
                </select>
            </div>

            <button class="btn">Submit</button>
        </form>
    </div>
</div>



<script src="index.js"></script>