  <section>
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  {{{body}}}
  {{#each fields as |field| }}
  <div class="card pure-u-md-15-24">
    <div class="fields">
            <h2>{{field.name}}</h2>   
            <p>{{field.address}}</p>       
    </div>
</div>
    {{/each}}
</section>





