
 .searchbar{
    background-color: white;
    border: none;
    color: #213525;
    padding: 20px;
} 


.search {
    display: inline;
    background-color: #213525;
    border: none;
    margin-left: 40px;
}

.search:hover {
    border: 2px solid #213525;
}

.submitBtn {
    margin-top: 15px;
    background-color:#213525;
    border: none;
}

/* .h2{
    color: white;
}

   .container {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F399187%2Fpexels-photo-399187.jpeg%3Fcs%3Dsrgb%26dl%3Devening-field-football-field-399187.jpg%26fm%3Djpg&f=1&nofb=1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-size: 100vw;
    margin: 200px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: 40% 60%;
    }

 .container-time {
        background-color: none;
        padding: 50px;
        outline: 3px dashed white;
        outline-offset: -30px;
        text-align: center;
        }

        .heading {
            font-size: 35px;
            text-transform: uppercase;
            }
            
            .heading-days {
            color: white;
            font-size: 30px;
            
            }
            
            .heading-phone {
            font-size: 20px;
            }

            .container-form {
                padding: 20px 0;
                margin: 0 auto;
                color: #000;
                }

                 form {
                    display: grid;
                    grid-row-gap: 20px;
                    }
                    form p {
                    font-weight: 600;
                    }
                    .form-field {
                    display: flex;
                    justify-content: space-between;
                    }
                    
                    input,select {
                    padding: 10px 15px;
                    }

                    .btn {
                        background-color: rgba(0, 0, 0, .95);
                        color: #fff;
                        padding: 10px 20px;
                        border: none;
                        font-size: 18px;
                        border-radius: 100px;
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        -ms-border-radius: 100px;
                        -o-border-radius: 100px;
                        box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
                        cursor: pointer;
                        transition: all .3s;
                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -ms-transition: all .3s;
                        -o-transition: all .3s;
                        }
                        
                        .btn:hover {
                        transform: scale(1.03);
                        -webkit-transform: scale(1.03);
                        -moz-transform: scale(1.03);
                        -ms-transform: scale(1.03);
                        -o-transform: scale(1.03);
                        box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
                        }*/

                        .container-slots {
                            background-image: url('https://images.pexels.com/photos/47343/the-ball-stadion-horn-corner-47343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            background-size: cover;
                            background-size: 100vw;
                            /* background-size: 100vh; */
                            margin: 20px;
                            box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
                            display: grid;
                            grid-template-columns: 40% 60%;
                            }
                        
                         .container-time {
                                background-color: none;
                                padding: 50px;
                                outline: 3px dashed white;
                                outline-offset: -30px;
                                text-align: center;
                                }
                        
                                .heading {
                                    font-size: 35px;
                                    text-transform: uppercase;
                                    }
                                    
                                    .heading-days {
                                    color: white;
                                    font-size: 30px;
                                    
                                    }
                                    
                                    .heading-phone {
                                    font-size: 20px;
                                    }
                        
                                    .booking-form {
                                        padding: 20px 0;
                                        margin: 0 auto;
                                        color: #000;
                                        }
                        
                                         .booking-form {
                                            display: grid;
                                            grid-row-gap: 20px;
                                            }
                                            form p {
                                            font-weight: 600;
                                            }
                                            .form-field {
                                            display: flex;
                                            justify-content: space-between;
                                            }
                                            
                                            input,select {
                                            padding: 10px 15px;
                                            }
                        
                                            .form-btn {
                                                background-color: rgba(0, 0, 0, .95);
                                                color: #fff;
                                                padding: 10px 20px;
                                                border: none;
                                                font-size: 18px;
                                                border-radius: 100px;
                                                -webkit-border-radius: 100px;
                                                -moz-border-radius: 100px;
                                                -ms-border-radius: 100px;
                                                -o-border-radius: 100px;
                                                box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
                                                cursor: pointer;
                                                transition: all .3s;
                                                -webkit-transition: all .3s;
                                                -moz-transition: all .3s;
                                                -ms-transition: all .3s;
                                                -o-transition: all .3s;
                                                }
                                                
                                                .form-btn:hover {
                                                transform: scale(1.03);
                                                -webkit-transform: scale(1.03);
                                                -moz-transform: scale(1.03);
                                                -ms-transform: scale(1.03);
                                                -o-transform: scale(1.03);
                                                box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
                                                }
                        
.heading-yellow{
    color: white;
}
                        