.pure-u-md-8-24 {
    background-color: white;
    color: black;
    align-content: center;
}

.form-group {
    background-color: white;
    color: black;
    text-align: center;
    margin-right: 25%; 
}