/* Style css styles all the elements that can be found on every page */
/* colours look alot like a pharmacy I think I want to change it */

body {
    width: 100%;
    padding-top: -21px;
    margin: 0;
}

header {
    text-align: center;
    background-color:  #213525;
    width: 100%;
    padding: 25px 0;
}

h1 {
    padding: 0;
    margin: 0;
    color: white;
}

div {
    border: 4px solid white;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

/*div:hover {
    background-color: rgb(255, 255, 255); 
    color: #213525;
}*/

@media screen and (max-width: 750px) {
    div {
        margin-top: 15px;
    }
  }

  nav {
    width:100%;
    background-color: #f3c476;
    /* put padding on top and bottom but not sides */
    padding: 10px 0 10px 0;
    text-align: right; 
}

a {
    text-decoration: none;
    color: white;
    padding: 11px;
}

h5 {
    padding: 11px;
    font-size: 14px;
    display: inline;
    color: white; 
    text-transform: uppercase;
}

h5:hover {
    background-color: rgb(255, 255, 255); 
    color: #f3c476;

}

.container{
    text-align: center;
    background-color:  #adc0b0;
    padding: 20px 0;
}

/* this is a stuff in the booking section */


.searchbar{
    background-color: white;
    border: none;
    color:  #213525;
    padding: 20px;
}

.datepicker {
    display: inline;
}

h4 {
    display: inline;
    padding: 0 40px;
}

h4:hover{
    color: #667f5f;
}

.submitBtn {
    background-color:  #213525;
    border: none;
    margin-top: 10px;
}

.submitBtn:hover {
    border: 2px solid  #213525;
}

