<!-- Files can be broken into handle bars later. -->
<!DOCTYPE html>
<html>
    <head>
        <title>Ottawa field Booking</title>
        <!-- Pure Grid System https://purecss.io/grids/ -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/base-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!-- header will stay about the same for every page -->
        <header>
        <h1 class="pure-u-md-17-24 pure-u-sm-1" >Ottawa field Booking</h1>
        <div class=" pure-u-md-2-24 pure-u-sm-7-24" id="#">Sign Up</div>
        <div class=" pure-u-md-2-24 pure-u-sm-7-24" id="#">Log In</div>
        </header>
        <nav>
            <h5><a href="Booking Page.html">View Bookings</a></h5>
            <h5><a href="view.html">Book a field</a></h5>
        </nav>
        <!-- stuff in the section tag is what will likely change from page to page -->
        <section class="container">
            <!-- this is where stuff should. -->
    </section>
    </body>
</html>