/* Style css styles all the elements that can be found on every page */
/* colours look alot like a pharmacy I think I want to change it */

body {
    width: 100%;
    padding-top: -21px;
    margin: 0;
}

header {
    text-align: center;
    background-color:  #213525;
    width: 100%;
    padding: 25px 0;
}

h1 {
    padding: 0;
    margin: 0;
    color: white;
}

div {
    border: 4px solid white;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

div:hover {
    background-color: rgb(255, 255, 255); 
    color: #213525;
}

@media screen and (max-width: 750px) {
    div {
        margin-top: 15px;
    }
  }

  nav {
    width:100%;
    background-color: #f3c476;
    /* put padding on top and bottom but not sides */
    padding: 10px 0 10px 0;
    text-align: right; 
}

a {
    text-decoration: none;
    color: white;
}

h5 {
    padding: 11px;
    font-size: 14px;
    display: inline;
    color: white; 
    text-transform: uppercase;
}

h5:hover {
    background-color: rgb(255, 255, 255); 
    color: rgb(206, 51, 51);

}

.container{
    text-align: center;
    /* not final colour will change at some point. */
    background-color:  #eef5ef;
    padding: 20px;
}